<%= simple_form_for @guardian, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :household_id, :collection => get_households, :prompt => 'Choose Household' %>  
  <%= f.input :guardian_type, :collection => Guardian::TYPE_LIST, :prompt => 'Choose Type' %>
  <%= f.input :cell_phone %>
  <%= f.input :can_text %>
  <%= f.input :email %>
  <%= f.input :active %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-success' %>
    <% if @data.blank? %> 
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  students_path, :class => 'btn' %>
    <%else%>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  home_path, :class => 'btn' %>
    <%end%>
  </div>
<% end %>

