

<div class="row">
  <div class="span10">
    <div id="search">
    	<%= form_tag('/guardians/search') do %>
    		<strong>Quick Filter:</strong> <%= text_field_tag 'query' -%>
    	<% end %>
    </div>
    <div class="page-header">
      <h1>All Guardians</h1>
    </div>
  </div>
  <div class="span2">
    <%= link_to raw("<i class='icon-plus'></i> <strong>Add guardian</strong>"), new_guardian_path, :class => 'btn btn-primary' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
      <tr>
          <th width="200">Name</th>
          <th width="225">Household</th>
          <th width="150">Relation</th>
          <th width="100">Cell Phone</th>
          <th width="250">Email</th>
		      <th>&nbsp;</th>
		   </tr>
	</thead>
	<tbody id="list">
      <% @guardians.each do |guardian| %>
      <tr>

      <td><%= link_to guardian.name, guardian_path(guardian) %></td>
      <td><%= link_to "#{guardian.household.name} (#{guardian.household.street})", household_path(guardian.household) %></td>
      <td><%= guardian.guardian_type %></td>
      <td><%= number_to_phone(guardian.cell_phone) %></td>
      <td><%= mail_to(guardian.email) %></td>


      <td>
          <%= link_to raw("<i class='icon-file'></i> Add note"), new_note_path(:id => guardian.id, :source => 'guardian'), :class => 'btn btn-mini' %>
          &nbsp;
          <%= link_to raw("<i class='icon-edit'></i> Edit"),
                      edit_guardian_path(guardian), :class => 'btn btn-mini' %>
        </td>

      </tr>
      <% end %>
  </tbody>
</table>

<%# will_paginate @guardians %>

