<%- model_class = Guardian -%>
<h1>Guardian Listing</h1>
<div class="row">
<div class = "span2">
<%= link_to raw("<i class='icon-plus'></i> <strong>Add guardian</strong>"), new_guardian_path, :class => 'btn btn-primary' %>
</div>
</div>
<br/>
<table class="table table-striped">
  <thead>
      <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:cell_phone) %></th>
          <th><%= model_class.human_attribute_name(:email) %></th>
		      <th><%= model_class.human_attribute_name(:guardian_type) %></th><th></th>
		   </tr>
	</thead>
	<tbody id="list">
      <% @guardians.each do |guardian| %>
      <tr>

      <td><%= link_to guardian.name, guardian_path(guardian) %></td>
      <td><%= number_to_phone(guardian.cell_phone) %></td>
      <td><%= mail_to(guardian.email) %></td>
      <td><%= guardian.guardian_type %></td>
       
      <td>
          <%= link_to raw("<i class='icon-file'></i> Add note"), new_note_path(:id => guardian.id, :source => 'guardian'), :class => 'btn btn-mini' %>
          &nbsp;
          <%= link_to raw("<i class='icon-edit'></i> Edit"),
                      edit_guardian_path(guardian), :class => 'btn btn-mini' %>
        </td>

      </tr>
      <% end %>
  </tbody>
</table>

<%= will_paginate @guardians %>
          
