<%= simple_form_for @note, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :date %>
  <%= f.input :contents %>
  <%= f.collection_select(:priority, :priority, Note::PRIORITIES, :prompt => true) %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                notes_path, :class => 'btn' %>
  </div>
<% end %>
