<%= simple_form_for @note, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :user_id %>
  <%= f.input :date %>
  <%= f.input :contents %>
  <%= f.input :notable_type %>
  <%= f.input :notable_id %>
  <%= f.input :priority %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                notes_path, :class => 'btn' %>
  </div>
<% end %>
