<div class="row-fluid">
  <div class="span8">
    <div id="search">
    	<%= form_tag('/notes/search') do %>
    		<strong>Quick Filter:</strong> <%= text_field_tag 'query' -%>
    	<% end %>
    </div> 
  </div>
  <div class="span4">
    <%= link_to "See all notes", notes_path, :class => 'btn btn-success pull-right' %>
  </div>
</div>

<h1>Active Alerts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="240">Title</th>
      <th width="240">Details</th>
      <th width="60">Date</th>
      <th width="110">Posted by</th>
      <th width="70">Priority</th>
      <th width="100">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |note| %>
      <tr>
        <td><%= link_to note.title, note_path(note) %></td>
        <td><%= note.contents %></td>
        <td><%= note.date.strftime("%b %d") %></td>
        <td><%= note.user.proper_name %></td>
        <td>
        <% if note.priority.to_i == 1 %>
          <i class='icon-star-empty'></i> High
        <% else %>
          Moderate
        <% end %>
        </td>
        <td>
          <%= link_to raw("<i class='icon-edit'></i> Edit"), edit_note_path(note), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-remove'></i> Dismiss"),
                      dismiss_note_path(note),
                      :method => :dismiss,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to dismiss this alert?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

