<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :barcode_number %>
  <%= f.input :household_id %>
  <%= f.input :is_male %>
  <%= f.input :grade %>
  <%= f.input :date_of_birth %>
  <%= f.input :cell_phone %>
  <%= f.input :can_text %>
  <%= f.input :photo %>
  <%= f.input :email %>
  <%= f.input :status %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn' %>
  </div>
<% end %>
