<script type="text/javascript">
  // Use jQuery to hide items in the various index lists
  $(function() {
  	$('#query').focus().keyup(function() {
		console.log("asdfasdfasdf")
  		// get rid of backspaces
  		var txt = $(this).val().replace(/\\b/,"");

  		if (txt.length == 0) {
  			// if the txt sent is empty, show all
  			$('#list tr').show();
  		}
  		else{
  			// else show only what we want and hide the rest...
  			$('#list tr:not(:contains("' + txt + '"))').hide();
  			$('#list tr:contains("' + txt + '")').show();
  		};
	});
  });

</script>

<%- model_class = Student -%>
<br>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div class="row">
  <div class="span10">
<div id="search">
	<%= form_tag('/students/search') do %>
		<strong>Quick Filter:</strong> <%= text_field_tag 'query' -%>
	<% end %>
</div>
</div>
<div class = "span2">
<%= link_to t('.new', :default => t("helpers.links.new")), new_student_path, :class => 'btn btn-primary' %>
</div>
</div>
<%# form_tag students_path, :method => 'get' do %>
<%# hidden_field_tag :direction, params[:query] %>
<%# hidden_field_tag :sort, params[:sort] %>
<!-- <p> -->
    <!-- we can remove this and move the code to the top search bar -->
    <%# text_field_tag :query, params[:query] %>
    <%# submit_tag "Search", :name => nil %>
<!-- </p> -->
<%# end %>


<% if @query == 0 %>
<%= render :partial => "normal-table" %>
<% else %>
<%= render :partial => "query-table"%>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>

