<%- model_class = Student -%>
<div class="row-fluid">
  <div class="span8">
    <div id="search">
    	<%= form_tag('/students/search') do %>
    		<strong>Quick Filter:</strong> <%= text_field_tag 'query' -%>
    	<% end %>
    </div>
  </div>
  <div class = "span4">
  <%= link_to raw("<i class='icon-plus'></i> <strong>Add student</strong>"), new_student_path, :class => 'btn btn-success pull-right' %>
  </div>
</div>

<% if @query == 0 %>
  <% unless @visitors.empty? %>
    <%= render :partial => "visitor-normal-table" %>
    <p class="supertiny">&nbsp;</p>
  <% end %>
  <%= render :partial => "normal-table" %>
<% else %>
  <% unless @visitors.empty? %>
    <%= render :partial => "visitor-query-table" %>
    <p class="supertiny">&nbsp;</p>
  <% end %>
  <%= render :partial => "query-table"%>
<% end %>


<% if @query == 0 %>

<% else %>
<%= render :partial => "query-table"%>
<% end %>

