<table class="table table-hover">
  <thead>
    <tr>
      <th>Program Name</th>
      <th>Department</th>
      <th>Grade Range</th>
      <th>Capacity</th>
      <th>Start Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="list">
    <% @current_programs.each do |program| %>
      <tr>
        <td><%= link_to program.name, program_path(program) %></td>
		    <td><%= program.department.name %></td>
        <td><%= program.grade_range %></td>
        <td><%= program.max_capacity %></td>
        <td><%= program.start_date.strftime("%b %d, %Y") %> </td>

        <td>
          <%= link_to raw("<i class='icon-edit'></i> Edit"),
                      edit_program_path(program), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
    <div class="page_info">
        <%= page_entries_info @current_programs %>
    </div>
    <%= will_paginate @current_programs, :container => true %>
</div>