<div class="row-fluid">
  <div class="span8">
    <div id="search">
    	<%= form_tag('/programs/search') do %>
    		<strong>Quick Filter:</strong> <%= text_field_tag 'query' -%>
    	<% end %>
    </div>
  </div>
  <div class="span4">
    <%= link_to raw("<i class='icon-plus'></i> <strong>Add program</strong>"), new_program_path, :class => 'btn btn-success pull-right' %>
  </div>
</div>

<h1>Current Programs</h1>

<% if @current_programs.empty? %>
  <h3>There are currently no active programs in the system.</h3>
<% else %>
  <%= render :partial => "active_programs" %>
<% end %>
<p>&nbsp;</p><p>&nbsp;</p>
<% unless @past_programs.empty? %>
  <h1>Past Programs</h1>
  <%= render :partial => "past_programs" %>
<% end %>
