<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/"><%= image_tag("uif-logo.gif", :class => "logo") %></a>

    <ul class="nav">
      <li class="<%= 'active' if user_signed_in? && params[:controller] == 'home' && controller.action_name != 'statistics' %>"><a href=<%= home_path %>><i class="icon-dashboard"></i>Dashboard</a></li>
      <li class="<%= 'active' if params[:controller] == 'students' %>"><a href=<%= students_path %>><i class="icon-user"></i>Students</a></li>
      <li class="<%= 'active' if params[:controller] == 'events' %>"><a href=<%= events_path %>><i class="icon-calendar"></i>Events</a></li>
      <li class="<%= 'active' if params[:controller] == 'programs' %>"><a href=<%= programs_path %>><i class="icon-bullhorn"></i>Programs</a></li>
      <li class="<%= 'active' if params[:controller] == 'households' %>"><a href=<%= households_path %>><i class="icon-home"></i>Households</a></li>
			<li class="<%= 'active' if controller.action_name == 'statistics' %>"><a href=<%= statistics_path %>><i class="icon-bar-chart"></i>Statistics</a></li>
    </ul>
    
    <!-- <form class="navbar-search">
      <input type="text" class="search-query" placeholder="Search">
    </form> -->
    
    <div id="login">
      <%= render :partial => "users/login" %>
    </div>
  </div>
</div>
