<div class="container"> 
    <!-- place into a partial -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class = "brand" href="/"><%= image_tag("uif-logo.gif", :class => "logo") %></a>

                <ul class="nav">
                    <li><a href=<%= students_path %>><i class="icon-user"></i>Students</a></li>
                    <li><a href=<%= events_path %>><i class="icon-file"></i>Events</a></li>
                    <li><a href=<%= programs_path %>><i class="icon-bullhorn"></i>Programs</a></li>
 <li><a href=<%= groups_path %>><i class="icon-folder-open"></i>Groups</a></li>
						

<li>
<tr>
<td><h6>&nbsp; Welcome Admin | Login </h6></td>
</tr>
<tr>
<td>		<form class="navbar-search pull-left2">
            <input type="text" class="search-query" placeholder="Search"> 
        </form>
</td>
</tr>
</li>
                </ul>
            </div>
        </div>
    </div>