<div class="container"> 
    <!-- place into a partial -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="/"><%= image_tag("uif-logo.gif", :class => "logo") %></a>

                <ul class="nav">
                    <!-- <p><%#= params[:controller] %></p> -->
                    <li class="<%= 'active' if params[:controller] == 'students' %>"><a href=<%= students_path %>><i class="icon-user"></i>Students</a></li>
                    <li class="<%= 'active' if params[:controller] == 'events' %>"><a href=<%= events_path %>><i class="icon-star"></i>Events</a></li>
                    <li class="<%= 'active' if params[:controller] == 'programs' %>"><a href=<%= programs_path %>><i class="icon-bullhorn"></i>Programs</a></li>
                    <li class="<%= 'active' if params[:controller] == 'households' %>"><a href=<%= households_path %>><i class="icon-home"></i>Households</a></li>
                    <!-- <li class="<%# 'active' if params[:controller] == 'locations' %>"><a href=<%= locations_path %>><i class="icon-map-marker"></i>Locations</a></li> -->
                     
          					<li class="<%= 'active' if controller.action_name == 'statistics' %>"><a href=<%= statistics_path %>><i class="icon-bar-chart"></i>Statistics</a></li>
                    <!-- <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Search" width="100px">
                    </form> -->
                </ul>
                
                <div id="login">
                  <%= render :partial => "users/login" %>
                </div>
            </div>
        </div>
    </div>

</div>

