<% if @absentees.nil? %>
<h2>No Absentees</h2>
<% else %>
<table id="absentees" class="table table-striped">
  <thead>
    <tr>
      <th><%= Student.human_attribute_name(:name) %></th>
      <th><%= Student.human_attribute_name(:phone_number) %></th>
      <th><%= Student.human_attribute_name(:barcode_number) %></th>
    </tr>
  </thead>
  <tbody>
    <% @absentees.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <%- if student.cell_phone.nil? -%>
          <td>No Phone Number</td> 
        <% else %>
          <td><%= number_to_phone student.cell_phone %></td> 
        <% end %> 
        <td><%= student.barcode_number %></td>            
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
