<!-- if your role is an admin -->
<script type="text/javascript">
  $(function() {
	   $('.phantom').hide();
	});
</script>

<div class="row-fluid">
  <div class="span8">
    <div class="upcoming_events">
      <%= render :partial => "./admin-partials/upcoming-events" %>
    </div>
    <div class="past_events">
      <%= render :partial => "./admin-partials/past-events" %>
    </div>
  </div>

  <div class="span4">
    <% unless @alerts.empty? %>
      <div class="well">
        <%= render :partial => "./admin-partials/issues" %>
        <% if @alert_count && @alert_count > 6 %>
          <%= link_to "Click for more alerts", alerts_path %>
        <% end %>
      </div>
    <% end %>
    <div class="well">
      <%= render :partial => "./admin-partials/quick-add" %>
    </div>
  </div>
</div>
