<h2><%=@w_month%> <%=@year%> </h3>
<% before = @department.first.name%>
<h4>Monthly</h4>
<% @department.each do |dep| %>
      
  		<h5><%= dep.name %></h4><br>
  		<table class="table table-striped" id="<%= dep.name %>">
  			<thead>
    			<tr>
      				<th>Program</th>
      				<th>Participants</th>
      				<th>Meals Served</th>
      				<th>Bibles Distributed</th>
      				<th>Gospel Shared</th>
    			</tr>
  			</thead>
  			<tbody>
		      <% @join.each do |record| %>
			      <% if record.first["department"] == dep.name %>
              		<tr>
                			<td><%= record.first["program"] %></td>
                			<td><%= record.first["attendances"] %></td> 
                			<td><%= record.second["meals"] %></td>
                			<td><%= record.second["bibles"] %></td>
                			<td><%= record.second["gospel"] %></td>          
              		</tr>
             <% end %>
          <% end %>
          <% @join_total.each do |record| %>
              <% if record.first["department"] == dep.name %>
                <tr >
                    <td style="background-color: #BEBEBE !important">Total</td>
                    <td style="background-color: #BEBEBE !important"><%= record.first["attendances"] %></td> 
                  	<td style="background-color: #BEBEBE !important"><%= record.second["meals"] %></td>
                    <td style="background-color: #BEBEBE !important"><%= record.second["bibles"] %></td>
                    <td style="background-color: #BEBEBE !important"><%= record.second["gospel"] %></td>          
                </tr>
            <% end %>
          <% end %>
  			</tbody>
		</table>
<% end %>

<h4>Year to Date</h4>
<% @department.each do |dep| %>
      
  		<h5><%= dep.name %></h5><br>
  		<table class="table table-striped" id="<%= dep.name %>">
  			<thead>
    			<tr>
      				<th>Program</th>
      				<th>Participants</th>
      				<th>Meals Served</th>
      				<th>Bibles Distributed</th>
      				<th>Gospel Shared</th>
    			</tr>
  			</thead>
  			<tbody>
		      <% @ytd_join.each do |record| %>
			      <% if record.first["department"] == dep.name %>
              		<tr>
                			<td><%= record.first["program"] %></td>
                			<td><%= record.first["attendances"] %></td> 
                			<td><%= record.second["meals"] %></td>
                			<td><%= record.second["bibles"] %></td>
                			<td><%= record.second["gospel"] %></td>          
              		</tr>
             <% end %>
          <% end %>
          <% @ytd_total_join.each do |record| %>
              <% if record.first["department"] == dep.name %>
                <tr >
                    <td style="background-color: #BEBEBE !important">Total</td>
                    <td style="background-color: #BEBEBE !important"><%= record.first["attendances"] %></td> 
                  	<td style="background-color: #BEBEBE !important"><%= record.second["meals"] %></td>
                    <td style="background-color: #BEBEBE !important"><%= record.second["bibles"] %></td>
                    <td style="background-color: #BEBEBE !important"><%= record.second["gospel"] %></td>          
                </tr>
            <% end %>
          <% end %>
  			</tbody>
		</table>
<% end %>




