<h1>Home</h1>
<p>Today's Events</p>
<%= render :partial => "./events/events" %>

    <div class="container">

	  <% flash.each do |name, msg| %>
			<% if name == :notice %>
				<!-- Successful alerts haha -->
				<div class="alert alert-success fade in">
					<a class="close" data-dismiss="alert">×</a>
					<%= msg %>
				</div>
			<% elsif name == :warning %>
				<!-- Error Alerts -->
				<div class="alert alert-error fade in">
					<a class="close" data-dismiss="alert">×</a>
					<%= msg %>
				</div>
			<% elsif name == :alert %>
				<!-- Error Alerts -->
				<div class="alert alert-error fade in">
					<a class="close" data-dismiss="alert">×</a>
					<%= msg %>
				</div>
			<% else %>
				<!-- Other alerts or alerts I don't know exist -->
				<div class="alert fade in" data=<%= name %>>
					<a class="close" data-dismiss="alert">×</a>
					<%= msg %>
				</div>
			<% end %>
	  <% end %>


	</div>
	
	
    <!-- <h3> Barcode Test </h3> -->

      
    <div id="content">

        <input id ="Input" type="text" onkeyup="displayunicode();"> </input>

        <h2 id = "bcode"> Barcodes: </h2>

        <%= flash[:messages] %>
        <span id="add-here"> </span>

    </div>


</body>
