<h1>UIF Statistics</h1>

<%= form_tag '/statistics', :method => 'get', :remote => true do%>
  <%= label_tag 'year', 'Select a Year' %>
   <%= select_year(Date.today)%>
   
  <%= label_tag 'month', 'Select a Month' %>
  <%= select_month(Date.today) %>
  <%= submit_tag "Search", :class => 'btn btn-success' %>
<% end %>



<div id="stat_tables"></div>
<br><br><br><br><br>

