<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<div id ="for_date"> For <span> <%= @events.get_todays_date %> </span></div>

<div class="calendar-buttons">
<button class="btn btn-mini">Daily</button>
<button class="btn btn-mini">Monthly</button>
<button class="btn btn-mini">Yearly</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <% if controller.controller_name == "events" %> 
        <!-- <th><%= model_class.human_attribute_name(:date) %></th> -->
      <% end %> 
      <th><%= model_class.human_attribute_name(:program_id) %></th>
      <!-- <th><%= model_class.human_attribute_name(:start_time) %></th> -->

      <th><%= model_class.human_attribute_name(:sections) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:end_time) %></th>
      
      
      <% if controller.controller_name == "events" %> 
              <!-- <th><%= model_class.human_attribute_name(:location_id) %></th> -->
              <!-- <th><%= model_class.human_attribute_name(:gospel_shared) %></th> -->
              <!-- <th><%= model_class.human_attribute_name(:meals_served) %></th> -->
              <!-- <th><%= model_class.human_attribute_name(:bibles_distributed) %></th> -->
              <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
      <% end %> 
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <% if controller.controller_name == "events" %> 

                <!-- <td><%= l event.date %></td> -->
        <% end %>         
        <td><%= link_to event.program.name, event_path(event) %></td>
        <!-- <td><%= l event.start_time %></td> -->

          <!-- <td><%#=l event.date %></td> -->
        <%# end %>
        <% if controller.controller_name == "events" %>          
          <td><%= link_to event.program.name, event_path(event) %></td>
        <% elsif %>  
          <td><%= link_to event.program.name, :controller => "home", :action => "checkin", :event_id => event.id %></td>
        <% end %>
        <td><% event.sections.each do |section|%><%= section.name %>&nbsp;<% end %></td>
        <td><%= l event.start_time %></td>

        <td><%= l event.end_time %></td>
        <% if controller.controller_name == "events" %> 
                <!-- <td><%= event.location.name %></td> -->
                <!-- <td><%= event.gospel_shared %></td> -->
                <!-- <td><%= event.meals_served %></td> -->
                <!-- <td><%= event.bibles_distributed %></td> -->
                <!-- <td><%=l event.created_at %></td> -->
        <% end %>   
        <td>
        <%#request.xhr %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_path(event), :class => 'btn btn-mini' %>
<<<<<<< HEAD
=======

>>>>>>> a587b98be5ef994fe4ab89050e4d205435729947
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
new_event_path,
:class => 'btn btn-primary' %>
