<%= hidden_field_tag "action", controller.action_name, { :id => "action" } %> 
<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date, :as => :date, :start_year => Date.today.year, :day => Date.today.day,
                              :end_year => Date.today.year - 12,
                              :order => [:month, :day, :year] %>
  <%= f.association :program, :collection => Program.by_name.active.all, :label_method => :name, :value_method => :id, :include_blank => false, :prompt =>"Choose a Program" %>
  
  <!--/div-->
  <div class="field">
    <%= f.label :sections %><br />
    <%= f.grouped_collection_select :sections, Program.by_name.active.all, :sections, :name, :id, :name, {:include_blank => false}, { :multiple => true } %>
  </div>
  

  <%= f.input :start_time, :as => :time, :ampm => true, :minute_step => 15 %>
  <%= f.input :end_time, :as => :time, :ampm => true, :minute_step => 15 %>
  <%= f.association :location, :label_method => :name, :value_method => :id, :include_blank => false, :prompt =>"Choose a Location" %>
  <%= f.input :gospel_shared, :input_html => { :value => '1' } %>
  <%= f.input :meals_served, :as => :integer, :min => 0 %>
  <%= f.input :bibles_distributed, :as => :integer, :min => 0%> 
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-success' %>

    <% if @data.blank? %> 
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  events_path, :class => 'btn' %>
    <%else%>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  home_path, :class => 'btn' %>
    <%end%>

  </div> 
<% end %>
