<%= simple_form_for @enrollment, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="field">
    <%= f.label :program %><br />
    <%= f.collection_select :program, Program.all, :id, :name, :prompt => "Choose a Program" %>  
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.grouped_collection_select :section_id, Program.all, :sections, :name, :id, :name, include_blank: false %> 
  </div>
  <div class="field">
    <%= f.association :student, :label_method => @enrollment.student, :value_method => :id, :include_blank => false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                enrollments_path, :class => 'btn' %>
  </div>
<% end %>

