<h1>Listing section_events</h1>

<table>
  <tr>
    <th>Section</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @section_events.each do |section_event| %>
  <tr>
    <td><%= section_event.section_id %></td>
    <td><%= section_event.event_id %></td>
    <td><%= link_to 'Show', section_event %></td>
    <td><%= link_to 'Edit', edit_section_event_path(section_event) %></td>
    <td><%= link_to 'Destroy', section_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section event', new_section_event_path %>
