<%- model_class = Event -%>

<% if @past.count() == 0 %>
<div class="page-header">
    <h1> There Are No Past Events </h1>
</div>
<% else %>
<div class="page-header">
    <h1>Past Events</h1>
</div>



<table class="table table-striped">
    <thead>
        <tr>

           <th><%= model_class.human_attribute_name(:program_id) %></th>
            <th><%= model_class.human_attribute_name(:date) %></th>
            <th><%= model_class.human_attribute_name(:sections) %></th>
            <th>Scan</th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
    </thead>
    <tbody>
        <% @past.each do |event| %>
        <% if event.date < Date.today %>
        <tr>
            <td>
                <%= event.program.name %>
            </td>
            <td>
                <%= event.date.strftime("%B %d, %Y") %>
            </td>
            <td>
                <% event.sections.each do |section|%>
                <%= section.name %>&nbsp;
                <% end %>
                <td><%= link_to "", {:controller => "home", :action => "checkin", :event_id => event.id}, {:class => "icon-large icon-barcode"} %>
                </td>
                <td>
                    <%= link_to raw("<i class='icon-edit'></i> Edit"),
                    edit_event_path(event), :class => 'btn btn-mini' %>
                </td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
    
    <div class="digg_pagination">
        <div clas="page_info">
            <%= page_entries_info @past %>
        </div>
        <%= will_paginate @past, :container => true %>
    </div>
    <% end %>

    <%= link_to raw("<i class='icon-plus'></i> <strong>Add New Event</strong>"),
    new_event_path,
    :class => 'btn btn-primary' %>
    
