<%- model_class = Event -%>
<div class="page-header">
    <h1>Past Events</h1>
</div>


<!-- <div class="calendar-buttons">
<button class="btn btn-mini">Daily</button>
<button class="btn btn-mini">Monthly</button>
<button class="btn btn-mini">Yearly</button>
</div> -->

<table class="table table-striped">
    <thead>
        <tr>

           <th><%= model_class.human_attribute_name(:program_id) %></th>
            <th><%= model_class.human_attribute_name(:date) %></th>
            <th><%= model_class.human_attribute_name(:sections) %></th>
            <th>Scan by Attendees </th>
            <th>Scan by Absentees </th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
    </thead>
    <tbody>
        <% @all_events.each do |event| %>
        <% if event.date < Date.today %>
        <tr>
            <td>
                <%= event.program.name %>
            </td>
            <td>
                <%= event.date.strftime("%B %d, %Y") %>
            </td>
            <td>
                <% event.sections.each do |section|%>
                <%= section.name %>&nbsp;
                <% end %>
                <td><%= link_to "", {:controller => "home", :action => "checkin", :event_id => event.id, :type => "attendees"}, {:class => "icon-large icon-barcode"} %>
                </td>
                <td><%= link_to "", {:controller => "home", :action => "checkin", :event_id => event.id, :type => "absentees"}, {:class => "icon-large icon-barcode"} %>
                </td>
             
                <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_event_path(event), :class => 'btn btn-mini' %>
                </td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
    
    <div class="digg_pagination">
        <div clas="page_info">
            <%= page_entries_info @all_events %>
        </div>
        <%= will_paginate @all_events, :container => true %>
    </div>
    

    <%= link_to t('.new', :default => t("helpers.links.new")),
    new_event_path,
    :class => 'btn btn-primary' %>
    
