<%- model_class = Event -%>

<!-- finding all upcoming event -->

<% if @upcoming.count() == 0 %>
<div class="page-header">
    <h1> There Are No Upcoming Events </h1>
</div>
<% else %>
<div class="page-header">
    <h1>Upcoming Events</h1>
</div>


<!-- <div class="calendar-buttons">
<button class="btn btn-mini">Daily</button>
<button class="btn btn-mini">Monthly</button>
<button class="btn btn-mini">Yearly</button>
</div> -->

<table class="table table-striped">
    <thead>
        <tr>

            <th><%= model_class.human_attribute_name(:program_id) %></th>
            <th><%= model_class.human_attribute_name(:date) %></th>
            <th><%= model_class.human_attribute_name(:sections) %></th>
            <!-- <th><%= model_class.human_attribute_name(:start_time) %></th>
            <th><%= model_class.human_attribute_name(:end_time) %></th> -->
            <th>Scan</th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
    </thead>
    <tbody>
        <% @upcoming.each do |event| %>
        <% if event.date >= Date.today %>
        <tr>
            <td>
                <%= event.program.name %>
            </td>
            <td>
                <%= event.date.strftime("%B %d, %Y") %>
            </td>
            <td>
                <% event.sections.each do |section|%>
                <%= section.name %>&nbsp;
                <% end %> 
                </td>
                <td><%= link_to "", {:controller => "home", :action => "checkin", :event_id => event.id}, {:class => "icon-large icon-barcode"} %>
                </td>
            </td>
            <td>
                <%= link_to raw("<i class='icon-edit'></i> Edit"),
                edit_event_path(event), :class => 'btn btn-mini' %>
            </td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>
<div class="digg_pagination">
    <div clas="page_info">
        <%= page_entries_info @upcoming %>
    </div>
    <%= will_paginate @upcoming, :container => true %>
</div>

<% end %>


