<h1>Listing allergies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Warning text</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @allergies.each do |allergy| %>
  <tr>
    <td><%= allergy.name %></td>
    <td><%= allergy.warning_text %></td>
    <td><%= allergy.active %></td>
    <td><%= link_to 'Show', allergy %></td>
    <td><%= link_to 'Edit', edit_allergy_path(allergy) %></td>
    <td><%= link_to 'Destroy', allergy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @allergies, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

<br />

<%= link_to 'New Allergy', new_allergy_path %>
